{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>

    <div class="categories">
        <a href="{{ path('app_car_index')}}">Cars</a>
        <a href="{{ path('app_phone_index')}}">Phones</a>
        <a href="{{ path('app_computer_index')}}">Computers</a>
    </div>
{% endblock %}
