{% extends 'product/base_product_show.html.twig' %}

{% block extra_details %}
    <tr>
        <th>Condition</th>
        <td>{{ product.productCondition }}</td>
    </tr>
    <tr>
        <th>Memory (gb)</th>
        <td>{{ product.memory }}</td>
    </tr>
{% endblock %}
