{% extends 'product/base_product_show.html.twig' %}

{% block extra_details %}
    <div class="detail-card">
        <span class="label">Condition</span>
        <span class="value">{{ product.productCondition }}</span>
    </div>

    <div class="detail-card">
        <span class="label">Memory (GB)</span>
        <span class="value">{{ product.memory }}</span>
    </div>
{% endblock %}
