@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Thin 100
Light 300
Regular 400
Medium 500
Bold 700
Black 900
Thin 100 Italic
Light 300 Italic
Regular 400 Italic
Medium 500 Italic
Bold 700 Italic
Black 900 Italic */

*{
    font-family: Roboto, sans-serif;
}


html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: #bfbfbf;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    justify-content: space-between;
    padding: 16px;
    background: #dadada;
}

.right-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 16px;
    min-height: calc(100vh - 100px);
}

a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #474747;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    text-align: center;
}

a:hover {
    opacity: 0.8;
}

a:active {
    opacity: 0.5;
}

button {
    display: inline-block;
    padding: 8px 12px;
    background-color: #474747;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    text-align: center;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

.green-btn {
    background-color: #76ae76;
}

.red-btn {
    background-color: #bd5e5e;
}

.blue-btn {
    background-color: #6c84c6;
}

.custom-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
    gap: 16px;
}

input, select, textarea {
    padding: 8px 12px;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    background-color: #dadada;;
    border-radius: 8px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
    border: none;
}

.form-input-div {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 8px;
}
li {
    padding: 8px 24px;
    background-color: #dadada;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



/* Flash message container */
.alert {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px auto;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 16px;
    font-size: 16px;
    z-index: 10;
    opacity: 80%;
}

/* Success messages */
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

/* Error messages */
.alert-error, .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* Info messages */
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

/* Warning messages */
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 16px;
    margin-top: 32px;
}

table img {
    border-radius: 8px;
}

tr {
    background:#dadada;
}

td, th {
    padding: 4px 8px;
    vertical-align: middle;
    text-align: center;
    border-right: 4px solid #bfbfbf;
}

td:last-child,
th:last-child {
    border-right: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

td:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

td:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

th {
    background-color: transparent;
    padding: 0;
    font-weight: 600;

    & a {
        background-color: transparent;
        color: black;
    }
}


.details-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 12px;
    margin-top: 24px;
}

.detail-card {
    background: #dadada;
    padding: 12px 16px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.06);
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
}

.detail-card .label {
    font-size: 14px;
    font-weight: 500;
    color: #555;
}

.detail-card .value {
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

