{% extends 'product/base_product_show.html.twig' %}

{% block extra_details %}
    <div class="detail-card">
        <span class="label">Condition</span>
        <span class="value">{{ product.productCondition }}</span>
    </div>

    <div class="detail-card">
        <span class="label">Storage (GB)</span>
        <span class="value">{{ product.storage }}</span>
    </div>

    <div class="detail-card">
        <span class="label">RAM (GB)</span>
        <span class="value">{{ product.ram }}</span>
    </div>
{% endblock %}
