{% extends 'product/base_product_show.html.twig' %}

{% block extra_details %}
    <tr>
        <th>Condition</th>
        <td>{{ product.productCondition }}</td>
    </tr>
    <tr>
        <th>Storage (gb)</th>
        <td>{{ product.storage }}</td>
    </tr>
    <tr>
        <th>RAM (gb)</th>
        <td>{{ product.ram }}</td>
    </tr>
{% endblock %}
